.dashboard-container {
    max-width: 37.5em;
    margin: 0 auto;
    padding: 2.5em;
    text-align: center;
  }
  
  .dashboard-title {
    font-size: 2.5rem;
    color: #333;
  }
  
  .dashboard-description {
    font-size: 1.2rem;
    color: #666;
    margin-top: 1.25em;
  }
  